{% extends 'layout.html' %}
{% block body %}
<div id="tesb_card_body_controls">
  <table class="table">
    <thead>
    <tr>
      <th scope="col"> Report ID</th>
      <th scope="col"> Created By</th>
      <th scope="col"> Report Type</th>
      <th scope="col">Query Date</th>
      <th scope="col">csv file name</th>
    </tr>
    </thead>
    <tbody>
  {% for report in reportlist %}
  <tr>
<th scope="row">{{report.report_id}}</th>
<td>{{report.created_by}}</td>
<td>{{report.report_name}}</td>
<td>{{report.query_date}}</td>
<td>{{report.csv_file_name}}</td>
  {% endfor %}
  </tbody>
  </table>
  </div>
{% endblock %}
